.clang-format
*.out
Mancala Game Player/Adversarial-search-lecture.pdf
Mancala Game Player/The Exploration and Analysis of Mancala from an AI Perspective.pdf
Mancala Game Player/.vscode/settings.json
Mancala Game Player/a.exe
